
$bkgrColor1: #e3e3e3;
$foreColor1: #c9c9c9;
$borderColor1: $foreColor1;

$bkgrColor2: #89bdd3;
$foreColor2: #9ad3de;
$borderColor1: $foreColor2;

$bkgrColor3: #F1D9D5;
$foreColor3: #461c1b;

$gradientColor1: rgb(226,226,226);
$gradientColor1-alpha: rgba(226,226,226,1);
$gradientColor2-alpha: rgba(219,219,219,1);
$gradientColor3-alpha: rgba(209,209,209,1);
$gradientColor4-alpha: rgba(254,254,254,1);
$gradientColor5: #e2e2e2;
$gradientColor6: #fefefe;

body {
    background-color: #f9f8ff;
}


